<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GodMode24</title>

    <!-- css links  -->
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/bootstrap.css">

</head>
<body>
    <main class="bg-danger d-flex flex-column-reverse align-items-center">
        <a href="./views/registration.html" class="btn btn-primary cst_mb">Get Started</a>

    </main>
</body>
</html>